<div class="inner bg-dark text-center">
    <nav class="nav nav-masthead justify-content-center space-x-3 w-50 ">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/login">login</a>
        <a class="nav-link" href="/register">register</a>
        <a class="nav-link" href="/me/logout">logout</a>
    </nav>
</div>